---
import Link from "../atoms/Link.astro";
---

<div>
  <h3>Factbox</h3>
  <p>
    «Klagesaken har sitt opphav i at vårt firma, på vegne av en klient, førte en
    ansvarssak mot blant andre Syvertsen. Syvertsen jobbet da for
    Blystad-gruppen. Beklageligvis synes hans beskyldninger mot Erling Ueland å
    ha samme bakgrunn», skriver Ristvedt, som ikke vil si mer om koblingen
    klagesaken skal ha til rettssaken. Som omtalt i DN ble John Christian
    Syvertsen personlig saksøkt sammen med blant andre Arne Blystad i 2019, av
    bergensrederiet Spar Shipping. Spar Shipping ble representert av
    advokatfirmaet Schjødt.
  </p>
</div>

<style>
  div {
    display: flex;
    margin-block-end: 2.5rem;
    column-gap: var(--row-gap);
  }
</style>
