---
import '../styles/color-schemes.css';
import '../styles/font-sizes.css';
import '../styles/hero-layout.css';
export interface Props {
  title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="nb-NO">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="stylesheet" href="https://static1.dn.no/dn/static/assets/css/nhstfonts.css">
  </head>
  <body data-theme="light" data-importance="medium" data-layout="a">
    <slot />
  </body>
</html>

<style is:global>
  @custom-media --medium (width >= 50rem);

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    -mox-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
  }

  img, svg {
    display: block;
    max-inline-size: 100%;
  }

  p, h1, h2, h3 {
    hyphens: auto;
    overflow-wrap: break-word;
  }

  /* */
  :root {
    --body-col-width: 40rem;
    --header-bkg: hsl(0 0% 100%);
    --site-bkg: hsl(0 0% 100%);
    --site-padding: 1rem;
  }

  body {
    color: var(--text-color, hsl(216 7% 15%));
    font-family: 'TextReg', serif;
  }
</style>

<script>
  document.addEventListener('change', (event: any) => {
    if (event.target.matches('#theme')) {
      document.body.setAttribute('data-theme', event.target.value);
    }

    if (event.target.matches('#size')) {
      document.body.setAttribute('data-importance', event.target.value);
    }

    if (event.target.matches('#layout')) {
      document.body.setAttribute('data-layout', event.target.value);
    }
    // console.log(event.target.value)
  });
</script>
