
<figure>
  <picture>
    <a href="https://nor-shipping.com/" target="_blank">
    <img
      src="../img/980.png"
      alt="980ad"
    />
    </a>
  </picture>

</figure>


<style>
  figure {
    background-color: var(--background-ads);
    padding: var(--row-gap);
    overflow: hidden;
    box-sizing: border-box;
  }

  picture {
    width: auto;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  img {
    inline-size: min(var(--hero-img-width), 100vw);
  }

</style>