---
import Link from "../atoms/Link.astro";
---

<div class="byline">
  <ul>
    <figure>
      <picture>
        <img src="../img/erikstad.png" alt="Byline-img" />
      </picture>
    </figure>

    <li class="author">
      <p><a href="mailto:harald.berglihn@dn.no">Terje Erikstad</a></p>
      <span>Journalist | Oslo</span>
    </li>
    <!-- <li><Link href="/" text="Follow" classes="tag" /></li> -->
  </ul>
</div>

<style>
  .byline {
    display: flex;
    column-gap: var(--row-gap);
    justify-content: flex-start;
    align-items: center;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  ul {
    display: flex;
    column-gap: 1rem;
    align-items: center;
  }

  li {
    list-style: none;
  }

  .author {
    display: flex;
    flex-direction: column;
  }

  figure {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-divider);
    width: 50px;
  }

  picture img {
    transform: scale(1.2);
  }

  a {
    color: var(--link-color);
    font-family: var(--font-family-utility), sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-underline-offset: 0.4rem;
    line-height: 1;
    text-decoration: none;

    @media (--medium) {
      font-size: 1rem;
    }
  }
  span {
    color: var(--color-typography-secondary);
    font-family: var(--font-family-utility), sans-serif;
    font-size: 0.75rem;
  }
</style>
