---
import Link from "../atoms/Link.astro";
import Alarm from "../icons/alarm.svg"
import Gift from "../icons/gift.svg"
import Mobile from "../icons/open_in_new.svg"
---

<div class="byline">
  <ul>
    <li>
      <figure>
        <picture>
          <img src="../img/Sara-Sofie-Tallaksen.png" alt="Byline-img" />
        </picture>
      </figure>
    </li>

    <li class="author">
      <p><a href="mailto:harald.berglihn@dn.no">Sara Sofie Tallaksen</a></p>
      <span>Journalist – OSLO</span>
    </li>
    <li>
      <Link href="#"  classes="round"  icon={Alarm} />
    </li>
    <li class="buttons">
      <li>
        <Link href="#" text="Gi bort" classes="pill" icon={Gift}/>
      </li>
      <li>
        <Link href="#" text="Les i app" classes="pill" icon={Mobile}/>
      </li>
    </li>
  </ul>
</div>

<style>
  .byline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: .5rem;
    align-items: center;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      row-gap: 1rem;
    }
  }


  li {
    list-style: none;
    display: flex;
  }

  .author {
    display: flex;
    flex-direction: column;
  }

  .buttons{
    flex-basis: 100%;
        @media only screen and (min-width: 568px) {
      flex-basis: auto;
    }
  }

  figure {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-page-divider);
    width: var(--byline-img-width);
  }

  picture img {
    transform: scale(1.1) translateY(4px);
    filter: var(--byline-img-filter);
  }

  a {
    color: var(--link-color);
    font-size: var(--typography-utility-m-font-size);
    font-family: var(--typography-utility-m-font-family);
    letter-spacing: var(--typography-utility-m-letter-spacing);

    text-underline-offset: 0.4rem;
    text-decoration: none !important;
    line-height: 1;

    @media (--medium) {
      font-size: var(--typography-utility-m-font-size);
      letter-spacing: var(--typography-utility-m-letter-spacing);
    }
  }
  span {
    color: var(--color-typography-secondary);
    font-size: var(--typography-utility-s-font-size);
    font-family: var(--typography-utility-s-font-family);
  }
</style>
