---
import Link from "../atoms/Link.astro";

---

<div>
    <ul>
        <figure>
        <picture>
            <img
            src="../img/profile.png"
            alt="Byline-img"
            />
        </picture>

        </figure>
        <p><a href="mailto:harald.berglihn@dn.no">Harald Berglihn</a></p>
          <span>Journalist | Oslo</span></p>
        <li><Link href="/" text="Follow" classes="button" /></li>
    </ul>

</div>

<style>
  div {
    border-block-end: 1px solid #d9dce2;
    display: grid;
    margin-block-end: .5rem;
    padding-block-end: 0.75rem;
    inline-size: min(
      var(--grid-width),
      100vw - calc(var(--site-padding) * 2)
    );
  }

  ul{
    display: flex;
    column-gap: 1rem;
    align-items: center;
  }

figure{
        border-radius: 50%;
        border: 1px solid tomato;
        overflow: hidden;
        border: 1px solid var(--color-neutral-800)
    }

    picture img{
        transform: scale(1.2);
    }


  a {
    color: var(--link-color);
    font-family:var(--typography-ui-font-family), sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-underline-offset: .4rem;
    line-height: 1;
    text-decoration: none;

    @media (--medium) {
      font-size: 1rem;
    }
  }
  span {
    color: var(--color-typography-secondary);
    font-family: var(--typography-ui-font-family), sans-serif;
    font-size: 0.75rem;
  }
</style>
