---
import Link from "../atoms/Link.astro";

interface Props {
  title: string;
  excerpt: string;
  url: string;
  category: string;
  img: string;
  slug: string;
  date: string;
  size: string;
}

const { slug, img, url, title, excerpt, category, date, size } =
  Astro.props as Props;
---

<div class="card">
  <figure>
    <picture>
      <img src={img} />
    </picture>
  </figure>
      <h3 class="title">
      {title}
    </h3>
  <div class="card-info">

    <span class="category">{category}</span>
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    grid-column: span 4;
    overflow: hidden;
    font-family: var(--font-family-heading);
    border-radius: var(--radius);
    margin-bottom: var(--row-gap);
  }

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.5rem 0rem 0rem 0rem;
  }

  .category {
    margin-top: 1rem;
    font-size: var(--typography-utility-m-font-size);
    font-family: var(--typography-utility-m-font-family);
  }
</style>
