---
import Link from "../atoms/Link.astro";
import Heart from "../icons/heart.svg"
import Gift from "../icons/gift.svg"
import Copy from "../icons/content_copy.svg"
---

<div class="interaction">
  <Link href="#" text="Kopier Lenke" classes="pill" icon={Copy} />

  <Link href="#" text="Lagre" classes="pill" icon={Heart} />

  <Link href="#" text="Gi bort" classes="pill" icon={Gift} />

  <style>
    .interaction {
      display: flex;
      justify-content: flex-start;
      column-gap: 1rem;
      padding: 1rem 0;

      & > div {
        width: 32px;
      }
    }

    ul {
      display: flex;
      column-gap: var(--row-gap);
      padding-inline-end: 1rem;
    }
  </style>
</div>
