---
import Link from "../atoms/Link.astro";
---

<div class="interaction">
  <Link href="#" text="Kopier Lenke" classes="tag" icon="../img/heart.svg" />

  <Link href="#" text="Lagre" classes="tag" icon="../img/heart.svg" />

  <Link href="#" text="Gi bort" classes="tag" icon="../img/gift.svg" />

  <style>
    .interaction {
      display: flex;
      justify-content: flex-start;
      column-gap: 1rem;
      padding-bottom: 1rem;

      & > div {
        width: 32px;
      }
    }

    ul {
      display: flex;
      column-gap: var(--row-gap);
      padding-inline-end: 1rem;
    }
  </style>
</div>
