---
export interface Props {
  text: string;
  url: string;
}

const { text, url } = Astro.props as Props;
---

<div>
  <strong>Les også:</strong>
  <div>
    <a href={url}>{text}</a>
    <img
      src="https://static1.dn.no/dn/static/assets/images/icons/badges/dnPlus.svg"
      alt="dnPlus"
    />
  </div>
</div>

<style>
  div {
    display: grid;
    margin-block: 2rem;
    padding-block: 1rem;
    row-gap: 0.25rem;
  }

  strong {
    font-family: "Book21", sans-serif;
    font-size: 1rem;
  }

  div > div {
    align-items: flex-end;
    border-block-end: 1px solid #e7e7e7;
    column-gap: 1rem;
    display: flex;
    margin-block: 0;
  }

  a {
    color: #1c5bc1;
    font-size: 1.125rem;
    text-decoration: none;
    transition: color 300ms ease;

    @media (--medium) {
      font-size: 1.25rem;
    }

    &:hover {
      color: #13264a;
      text-decoration: underline;
      text-underline-offset: 0.25rem;
    }
  }
</style>
