<dl>
  <dt>Tekst</dt>
  <dd>
    <a href="mailto:#">Martin Kværnes</a>, <a href="mailto:#">Marius Hansen</a> og <a href="mailto:#">Tommy Pedersen</a>
  </dd>

  <dt>Foto</dt>
  <dd>
    <a href="mailto:#">Gunnar Lier</a>
  </dd>
</dl>
<div>
  <span>1 min</span>
  <dl>
    <dt>Publisert:</dt>
    <dd>18.01.23 — 10.09</dd>
  </dl>
  <dl>
    <dt>Oppdatert:</dt>
    <dd>30 minutter siden</dd>
  </dl>
</div>

<style>
  div {
    border-block-end: 1px solid hsl(212 10% 74%);
  }
</style>
