<div>
  <p><a href="mailto:#">Jan Pedersten Holst</a> og <a href="mailto:#">Caroline Hansen</a></p>
  <span>25. mai 2022 | Oppdatert for 17 timer siden</span>
</div>

<style>
  div {
    border-block-end: 1px solid #d9dce2;
    display: grid;
    margin-block-end: 2.5rem;
    padding-block-end: 0.75rem;
    row-gap: 0.25rem;
  }
  p {
    color: currentColor;
    font-family: 'Book21', sans-serif;
    font-size: 0.875rem;
  }

  a {
    color: currentColor;
    font-family: 'Med21', sans-serif;
    line-height: 1;
    text-decoration: none;
  }
  span {
    color: #747e8e;
    font-family: 'Book20', sans-serif;
    font-size: 0.75rem;
  }
</style>
