---
import StoryImage from "../molecules/StoryImage.astro";
import StoryMeta from "../molecules/StoryMeta.astro";

interface Props {
  title: string;
  img: string;
  lead: string;
  figcaption: string;
}

const { img, title, lead, figcaption } = Astro.props as Props;
---

<header class="flow article-top">
  <h1>{title}</h1>
  <p class="lead">
    {lead}
  </p>
  <StoryImage src={img} figcaption={figcaption} />
  <StoryMeta />
</header>

<style>


  header {
    align-items: flex-start;
    color: var(--color-text-typo, currentColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    width: 100%;
    margin-inline: auto;
    padding-bottom: var(--row-gap);
    margin-bottom: var(--row-gap);

    background: linear-gradient(
      to bottom,
      var(--article-top-bg),
      var(--article-top-bg) calc(100% - 18rem),
      var( --color-page-bg) calc(100% - 18rem)
    );
  }


  /* Title */

  h1 {
    position: var(--title-position);
    order: var(--hero-text);

    margin-top: var(--spacing-top);
    line-height: 1.3;
    inline-size: min(var(--grid-width), 100vw - calc(var(--site-padding) * 2));
    text-align: var(--text-align);
    color: var(--titlepiece-color);

    font-size: var(--typography-editorial-titlepiece-min-font-size);
    font-family: var(--article-top-font-family);
    font-weight: var(--typography-editorial-titlepiece-min-font-weight);
    line-height: var(--typography-editorial-titlepiece-max-line-height);
        @media only screen and (min-width: 768px) {
    font-size: var(--typography-editorial-titlepiece-max-font-size);
     font-family: Erode-Regular,  sans serif;
    }
  }

  /* Innress */
  p.lead {
    order: var(--lead-text);
    font-size: var(--typography-editorial-lead-min-font-size) !important;
    font-weight: 400;
    line-height: var(--typography-editorial-lead-min-line-height);
    inline-size: min(var(--grid-width), 100vw - calc(var(--site-padding) * 2));
    text-align: var(--text-align);
    color: var(--lead-color);
    @media only screen and (min-width: 768px) {
      font-size: var(--typography-editorial-lead-max-font-size) !important;

      line-height: var(--typography-editorial-lead-max-line-height);
    }
  }
</style>
