---
import Byline from "../molecules/Byline.astro";
import Link from "../atoms/Link.astro";
import Interaction from "../molecules/Interaction.astro";
---

<div class="flex-row">
  <Byline />
  <div>
    <ul role="list" class="info">
      <li>
        <li>Oppdatert 17:03</li>
        <li class="divider">|</li>
        <!--         <li>2 min</li>
        <li class="divider">|</li>
        <li>For subscribers only</li>
        <li class="divider">|</li> -->
        <li>Publisert i <a href="#">Finans</a></li>
        <li class="divider">|</li>
        <li>
          <Link href="#">
            <svg
              width="94"
              height="32"
              viewBox="0 0 94 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M29.6119 15.9989L22.8745 23L16.1371 15.9989C15.7258 15.565 15.4132 15.0473 15.2207 14.4812C15.0283 13.9152 14.9605 13.3142 15.022 12.7195C15.0836 12.1248 15.273 11.5504 15.5774 11.0358C15.8817 10.5212 16.2937 10.0785 16.7852 9.73798C17.2766 9.39751 17.8359 9.16736 18.4247 9.06329C19.0134 8.95923 19.6177 8.98372 20.1961 9.13508C20.7745 9.28645 21.3134 9.56111 21.7757 9.94023C22.238 10.3193 22.6128 10.794 22.8745 11.3315C23.1362 10.794 23.511 10.3193 23.9733 9.94023C24.4357 9.56111 24.9745 9.28645 25.5529 9.13508C26.1313 8.98372 26.7356 8.95923 27.3243 9.06329C27.9131 9.16736 28.4724 9.39751 28.9638 9.73798C29.4553 10.0785 29.8673 10.5212 30.1717 11.0358C30.476 11.5504 30.6654 12.1248 30.727 12.7195C30.7885 13.3142 30.7207 13.9152 30.5283 14.4812C30.3358 15.0473 30.0232 15.565 29.6119 15.9989Z"
                stroke="var(--color-neutral-800)"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="square"></path>
              <path
                d="M40.896 11.046H42.268V19.726H47.364V21H40.896V11.046ZM51.5502 21.21C49.8282 21.21 48.9322 20.37 48.9322 19.082C48.9322 18.242 49.3382 17.57 49.9682 17.178C50.6122 16.772 51.2702 16.604 52.8802 16.366C54.2802 16.17 55.0642 16.016 55.0642 15.274C55.0642 14.42 54.4902 13.86 52.9922 13.86C51.4242 13.86 50.6402 14.63 50.5702 15.75H49.1842C49.3102 14.014 50.6542 12.782 52.9362 12.782C55.4142 12.782 56.3802 13.846 56.3802 15.484V21H55.2742L55.1202 19.012C54.5602 20.244 53.3282 21.21 51.5502 21.21ZM51.9702 20.132C53.8042 20.132 55.0782 18.564 55.0782 17.22V16.632C54.7142 16.94 54.0422 17.094 53.1742 17.234C51.9562 17.43 51.4382 17.556 50.9902 17.85C50.5842 18.13 50.4162 18.452 50.4162 18.914C50.4162 19.656 50.9202 20.132 51.9702 20.132ZM58.3087 19.432C58.3087 18.648 58.9107 18.088 60.0867 17.878C58.9247 17.542 58.3507 16.772 58.3507 15.568V15.554C58.3507 14.084 59.4007 13.132 61.2487 12.964C61.4727 12.922 61.6827 12.908 61.9627 12.894C63.5167 12.81 63.7687 12.432 63.7687 11.41V11.256H65.3087V11.494C65.3087 12.628 64.8047 13.118 63.0407 13.174H63.0687C64.5247 13.356 65.3227 14.392 65.3227 15.526V15.582C65.3227 17.262 63.9927 18.312 61.7807 18.312H61.5147C59.8767 18.312 59.5127 18.62 59.5127 19.082C59.5127 19.53 59.8907 19.768 60.8987 19.754H62.7747C64.9167 19.754 65.8407 20.622 65.8407 21.994C65.8407 23.576 64.6087 24.668 61.7667 24.668H61.6407C58.8687 24.668 58.0147 23.912 58.0147 22.708C58.0147 21.826 58.5467 21.168 59.7927 20.86C58.7707 20.706 58.3087 20.188 58.3087 19.432ZM61.7807 17.304C63.1947 17.304 63.9507 16.674 63.9507 15.596V15.568C63.9367 14.224 62.9847 13.79 61.8927 13.79C61.7667 13.79 61.6827 13.804 61.5847 13.818C60.4367 13.902 59.6947 14.518 59.7087 15.582V15.61C59.7087 16.702 60.4507 17.304 61.7807 17.304ZM61.5287 23.534H61.7807C63.7827 23.534 64.5807 22.932 64.5807 22.064V22.05C64.5807 21.364 64.0767 20.916 62.7187 20.916H61.1087C59.9187 21.042 59.3447 21.546 59.3447 22.288V22.302C59.3447 22.988 59.9887 23.534 61.5287 23.534ZM67.2242 21V13.006H68.3302L68.5122 14.994C68.8482 13.664 69.7582 12.95 71.4102 12.95H71.9002V14.322H71.2282C69.1842 14.322 68.5682 15.232 68.5682 17.262V21H67.2242ZM76.8328 21.21C74.1868 21.21 72.8428 19.628 72.8428 17.15V16.982C72.8428 14.448 74.3968 12.782 76.8748 12.782C79.4928 12.782 80.7388 14.658 80.7388 16.814V17.458H74.1868C74.2848 19.096 75.2228 20.062 76.8888 20.062C78.0508 20.062 78.8348 19.558 79.1568 18.62H80.6268C80.1648 20.272 78.8068 21.21 76.8328 21.21ZM76.8888 13.888C75.3488 13.888 74.3688 14.826 74.2008 16.38H79.3808C79.2688 14.868 78.4148 13.888 76.8888 13.888Z"
                fill="var(--color-neutral-800)"></path>
              <rect
                x="0.5"
                y="0.5"
                width="92.749"
                height="31"
                rx="3.5"
                stroke="var(--color-neutral-800)"
                stroke-opacity="0.3"></rect>
            </svg>
          </Link>
        </li>
        <li class="divider">|</li>
        <li>
          <Link href="#">
            <svg
              width="117"
              height="32"
              viewBox="0 0 117 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1834_16667)">
                <path
                  d="M36.998 13.75V19.75H34.748"
                  stroke="var(--color-neutral-800)"
                  stroke-width="1.5"
                  stroke-miterlimit="10"></path>
                <path
                  d="M24.998 17.5V13.75"
                  stroke='var(--color-neutral-800)"'
                  stroke-width="1.5"
                  stroke-miterlimit="10"></path>
                <path
                  d="M26.498 9.25C26.498 8.425 27.173 7.75 27.998 7.75C30.248 7.75 30.998 10.75 30.998 10.75C30.998 10.75 28.823 10.75 27.998 10.75C27.173 10.75 26.498 10.075 26.498 9.25Z"
                  stroke="var(--color-neutral-800)"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="square"></path>
                <path
                  d="M35.498 9.25C35.498 8.425 34.823 7.75 33.998 7.75C31.748 7.75 30.998 10.75 30.998 10.75C30.998 10.75 33.173 10.75 33.998 10.75C34.823 10.75 35.498 10.075 35.498 9.25Z"
                  stroke="var(--color-neutral-800)"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="square"></path>
                <path
                  d="M38.498 10.75H23.498V13.75H38.498V10.75Z"
                  stroke="var(--color-neutral-800)"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="square"></path>
                <path
                  d="M31.823 19.75H35.498C37.298 19.75 37.748 21.25 37.748 21.25L29.798 24.1C29.198 24.25 28.523 24.25 27.923 24.025L21.998 21.5547V17.5H24.998C26.198 17.5 27.323 18.025 27.998 19H30.248C31.373 19 32.498 20.125 32.498 21.25H27.248"
                  stroke="var(--color-neutral-800)"
                  stroke-width="1.5"
                  stroke-miterlimit="10"></path>
              </g>
              <path
                d="M49.924 21.21C47.446 21.21 46.004 19.712 46.004 16.506V15.708C46.004 12.53 47.642 10.878 50.358 10.878C52.738 10.878 54.194 12.152 54.362 14.392H52.948V14.406C52.78 13.062 52.01 12.11 50.344 12.11C48.412 12.11 47.404 13.342 47.404 15.764V16.45C47.39 18.858 48.398 19.964 50.274 19.964C52.248 19.964 52.948 18.592 52.976 17.178L50.12 17.164V15.988H54.39V21H53.354L53.256 18.508C52.976 20.006 51.996 21.21 49.924 21.21ZM57.3299 11.984C56.6439 11.984 56.3639 11.732 56.3639 11.018C56.3639 10.318 56.6999 10.052 57.3299 10.052C57.9599 10.052 58.2819 10.318 58.2819 11.032C58.2819 11.704 57.9599 11.984 57.3299 11.984ZM56.6159 21V13.006H58.0019V21H56.6159ZM69.2279 21.21C67.7299 21.21 66.7359 20.398 66.2879 19.194L66.1479 21H65.0139V10.598H66.3299V14.742C66.8059 13.566 67.8279 12.782 69.2979 12.782C71.3699 12.81 72.8399 14.252 72.8399 16.884V17.066C72.8399 19.656 71.4399 21.21 69.2279 21.21ZM68.8499 19.992C70.5019 19.992 71.4399 18.914 71.4399 17.052V16.898C71.4399 15.064 70.4039 13.944 68.9059 13.944C67.3099 13.944 66.2739 15.19 66.2739 16.842V16.954C66.2739 18.788 67.2679 19.992 68.8499 19.992ZM78.4776 21.21C75.9296 21.21 74.4736 19.698 74.4736 17.136V16.968C74.4736 14.294 76.1676 12.782 78.4776 12.782C80.8156 12.782 82.4816 14.336 82.4816 16.968V17.136C82.4816 19.698 80.8996 21.21 78.4776 21.21ZM78.4776 19.992C80.1296 19.992 81.0956 18.914 81.0956 17.108V16.954C81.0956 15.12 80.0316 13.958 78.4776 13.958C76.9516 13.958 75.8596 15.036 75.8596 16.954V17.108C75.8596 18.914 76.8256 19.992 78.4776 19.992ZM84.3898 21V13.006H85.4958L85.6778 14.994C86.0138 13.664 86.9238 12.95 88.5758 12.95H89.0658V14.322H88.3938C86.3498 14.322 85.7338 15.232 85.7338 17.262V21H84.3898ZM91.878 17.906V14.21H90.31V13.048C90.576 13.048 90.758 13.062 91.08 13.048C91.808 13.048 91.906 12.922 91.962 12.012C91.976 11.648 91.99 11.186 91.99 10.892H93.138V13.006H95.49V14.21H93.138V17.71C93.138 19.432 93.474 19.726 94.916 19.726H95.49V21H94.608C92.466 21 91.878 20.286 91.878 17.906Z"
                fill="var(--color-neutral-800)"></path>
              <rect
                x="1.24805"
                y="0.5"
                width="115"
                height="31"
                rx="3.5"
                stroke="var(--color-neutral-800)"
                stroke-opacity="0.3"></rect>
              <defs>
                <clipPath id="clip0_1834_16667">
                  <rect
                    width="18"
                    height="18"
                    fill="white"
                    transform="translate(21.248 7)"></rect>
                </clipPath>
              </defs>
            </svg>
            <Link />
          </Link>
        </li>
      </li>
    </ul>
  </div>

  <style>
    /* Article info Category and Date */
    .flex-row {
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      order: var(--story-meta);
      justify-content: space-between;
      row-gap: 6px;
      inline-size: min(
        var(--grid-width),
        100vw - calc(var(--site-padding) * 2)
      );
      @media only screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
      }
    }

    ul[role="list"] {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--color-typography-secondary);
      font-size: var(--typography-utility-m-font-size) !important;
      font-family: var(--typography-utility-m-font-family) !important;
      column-gap: 0.3rem;
      font-size: 0.7rem;
      flex-wrap: wrap;

      &.divider {
        color: var(--color-divider);
      }

      @media only screen and (min-width: 768px) {
        column-gap: 0.6rem;
        font-size: 0.9rem;
        flex-direction: row;
      }
    }
  </style>
</div>
