---
import Byline from "../molecules/Byline.astro";
import Link from "../atoms/Link.astro";
import Interaction from "../molecules/Interaction.astro";
---

<div class="flex-row">
  <Byline />
  <div>
    <ul role="list" class="info">
      <li>
        <li>Oppdatert 17:03</li>
        <li class="divider">|</li>
        <!--         <li>2 min</li>
        <li class="divider">|</li>
        <li>For subscribers only</li>
        <li class="divider">|</li> -->
        <li>Published in <a href="#">Energy transition</a></li>
        <li class="divider">|</li>
        <li>
          <Link href="#">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="16" cy="16" r="16" fill="var(--color-neutral-800)"
              ></circle>
              <path
                d="M18.4171 12.5862L18.5917 12.9396L18.9818 12.9962L24.387 13.7807L20.4763 17.5886L20.1936 17.8639L20.2603 18.2529L21.1832 23.6295L16.3488 21.0899L16 20.9067L15.6512 21.0899L10.8168 23.6295L11.7397 18.2529L11.8064 17.8639L11.5237 17.5886L7.61297 13.7807L13.0182 12.9962L13.4083 12.9396L13.5829 12.5862L16 7.69336L18.4171 12.5862Z"
                stroke="var(--color-neutral-100)"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="square"></path>
            </svg>
          </Link>
        </li>
        <li class="divider">|</li>
        <li><Link href="/" text="Give this article" classes="tag" /></li>
      </li>
    </ul>
  </div>
</div>

<style>
  /* Article info Category and Date */
  .flex-row {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: var(--story-meta);
    justify-content: space-between;
    row-gap: 6px;
    inline-size: min(var(--grid-width), 100vw - calc(var(--site-padding) * 2));
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
  }

  ul[role="list"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--typography-ui-font-family);
    color: var(--color-neutral-100);
    column-gap: 0.3rem;
    font-size: 0.7rem;
    flex-wrap: wrap;

    &.divider {
      color: var(--color-divider);
    }

    @media only screen and (min-width: 768px) {
      column-gap: 0.6rem;
      font-size: 0.9rem;
      flex-direction: row;
    }
  }
</style>
