---
import StoryArticle from '../molecules/StoryArticle.mdx';
---

<div>
  <StoryArticle />
</div>

<style>
  div {
    inline-size: min(var(--body-col-width), 100vw - calc(var(--site-padding, 1rem) * 2));
    margin-block-start: 3rem;
    margin-inline: auto;
  }
</style>
