<nav class="select">
  <span>Layout:</span>
  <select id="layout">
    <option value="text-first">Text First</option>
    <option value="image-first">Image First</option>
    <option value="wide">Wide</option>
    <option value="opinion">Opinion</option>
    <option value="breaking-inverted">Breaking Inverted</option>
    <option value="breaking-highlight">Breaking Highlight</option>
    <option value="feature">Feature</option>
  </select>

  <span>Publication:</span>
  <select id="brands">
    <option value="/">Choose Publication</option>
    <option value="/recharge/">Recharge</option>
    <option value="/dn/">DN</option>
    <option value="/europower/">Europower</option>
    <option value="/fiskeribladet/">Fiskeribladet</option>
    <option value="/tradewinds/">TradeWinds</option>
    <option value="/upstream/">Upstream</option>
    <option value="/intrafish/">Intrafish</option>
    <option value="/hydrogen/">Hydrogen Insight</option>
    <option value="/kystens/">Kystens Næringsliv</option>
    <option value="/d2/">D2</option>
  </select>
</nav>

<style>
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-neutral-900);
    background-color: var(--color-neutral-100);
    padding: 0.5rem 1rem;
    background-image: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-family: var(--font-family-utility);
  }

  select {
    background-color: var(--color-neutral-50);
    margin: 0.3rem;
    text-align: center;
    border-radius: var(--radius);
    padding: 0.4rem;
    overflow-x:hidden;
  }
</style>

<script>
  import "../js/layoutSwitcher";
  import "../js/pageNavigation";
</script>
