---
import Link from "../atoms/Link.astro";
---

<div>
  <p>Publisert 19. juni 2023 | Oppdatert 20. juni 2023</p>
</div>

<style>
  div {
    display: flex;
    flex-direction: row;
    margin-block-end: 2.5rem;
    column-gap: var(--row-gap);
    row-gap: var(--row-gap);
    flex-wrap: wrap;
  }

  p {
    font-size: var(--typography-utility-m-font-size) !important;
    font-family: var(--typography-utility-m-font-family) !important;
  }
</style>
