:root {
  --color-brand-utility-0: hsl(210, 8%, 95%);
  --color-brand-utility-50: hsl(216, 6%, 85%);
  --color-brand-utility-100: hsl(217, 6%, 75%);
  --color-brand-utility-200: hsl(215, 7%, 65%);
  --color-brand-utility-300: hsl(216, 7%, 55%);
  --color-brand-utility-400: hsl(216, 7%, 45%);
  --color-brand-utility-500: hsl(215, 7%, 35%);
  --color-brand-utility-600: hsl(217, 6%, 25%);
  --color-brand-utility-700: hsl(216, 6%, 15%);
  --color-brand-utility-800:hsl(210, 8%, 5%);
  --color-brand-utility-900: hsl(210, 8%, 2%);

  --background-header: var(--color-neutral-900);
  --background-navigation: var(--color-brand-utility-200);
  --background-footer: var(--color-neutral-800);
  --background-ads: var(--color-neutral-800);
  --background-footer: var(--color-brand-primary-main);
  --background-app: var(--color-neutral-900);


  --page-width: 1280px;
  --grid-width: 980px;
  --body-width: 680px;

  --color-typography: var(--color-typography-inverted);
  --color-typography-secondary: #3e3e3e;
  --color-link: var(--color-link-default);

  --site-padding: var(--spacing-row-gap-max);
  --header-height: 6rem;
  --logo-height: 2rem;
  --radius: 5px;
}
