[data-layout="a"] {
  --hero-text: a;
  --hero-figure: b;
  --site-bkg: var(--hero-bkg);
}

[data-layout="b"] {
  --hero-text: b;
  --hero-figure: a;
  --site-bkg: var(--site-bkg);
  --hero-figure-space-start: 4rem;
}

[data-layout="c"] {
  --hero-figure: a;
  --hero-text: b;
  --hero-img-width: 100%;
}

[data-layout="c"] {
  --hero-bkg: transparent;
  --hero-text-clr: currentColor;
  --hero-top-space: 0;
  --hero-figure-space-end: 2rem;
  --hero-figure-space-start: 0;
  --tag-clr: revert;
}

[data-layout="b"][data-theme="dark"],
[data-layout="b"][data-theme="blue"] {
  --hero-text-clr: var(--text-color);
}
