[data-layout="a"] {
  --hero-text: a;
  --hero-figure: b;
  --hero-text-bkg: var(--header-bkg);
}

[data-layout="b"] {
  --hero-text: b;
  --hero-figure: a;
  --hero-text-clr: currentColor;
  --hero-figure-space-start: 4rem;
}

[data-layout="c"] {
  --hero-figure: a;
  --hero-text: b;
  --hero-img-width: 100%;
}

[data-layout="c"] {
  --hero-bkg: transparent;
  --hero-text-clr: currentColor;
  --hero-top-space: 0;
  --hero-figure-space-start: 0;
  --tag-clr: revert;
}

[data-layout="a"][data-theme="dark"],
[data-layout="a"][data-theme="blue"] {
  --hero-text-clr: #fff;
}
