[data-layout='a'] {
  --hero-text: b;
  --hero-figure: c;
  --site-bkg: transparent;
}

[data-layout='b'] {
  --hero-text: c;
  --hero-figure: b;
  --site-bkg: var(--site-bkg);
}

[data-layout='c'] {
  --hero-figure: a;
  --hero-tag: b;
  --hero-text: c;
}

[data-layout='b'][data-theme='dark'],
[data-layout='b'][data-theme='blue'] {
  --hero-text-clr: var(--text-color);
}
