@layer reset, tokens, base, utilities;

/* This is just a reset for testing purposes */
@import url("../../node_modules/the-new-css-reset/css/reset.css") layer(reset);

@import url("./tokens/tokens.css") layer(tokens);

/*
  TODO: Move to components?
*/
@layer base {
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-app);
  }

  .header{
    background: var(--background-header)
  }

  a {
    --_dnmg-link-text-color: var(--link);
    color: var(--_dnmg-link-text-color);
    text-decoration: underline;
  }
}

@layer utilities {
  .flow > * + * {
    margin-block-start: 1em;
  }
}
