@layer reset, tokens, base, utilities;

/* This is just a reset for testing purposes */
@import url("../../node_modules/the-new-css-reset/css/reset.css") layer(reset);

@import url("./tokens/tokens.css") layer(tokens);


/*
  TODO: Move to components?
*/

:root {
  --background-header: var(--color-neutral-900);
  --background-navigation: var(--color-neutral-800);
  --background-footer: var(--color-neutral-800);
  --background-ads: var(--color-neutral-700);
  --background-footer:  var(--color-primary);
  --background-app: var(--color-neutral-900);

  --page-width: 1280px;
  --grid-width: 980px;
  --body-width: 680px;

  --color-typography: var(--color-typography-inverted);
  --color-typography-secondary: #3e3e3e;
  --color-link: var(--color-link-default);
  --color-primary: var(--color-brand-primary-main);

  --site-padding: var(--spacing-row-gap-max);
  --header-height: 6rem;
  --logo-height: 2rem;
  --radius: 5px;
  }


@layer base {
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-app);
    font-size: 16px;
    color: var(--color-typography);
  }


  a {
    color: var(--color-link-default);
    text-decoration: underline;
  }

  img{
    width: 100%;
  }

  p{
    font-size: 1.3rem;
    line-height: 140%;
  }

  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 2rem;
  }  
  h3{
    font-size: 1.65rem;
    font-weight: bold;
  }
}

@layer utilities {
  .flow > * + * {
    margin-block-start: 1em;
  }

}

@layer tokens {


}


