---
import Layout from '../templates/Layout.astro';

import Header from '../organisms/Header.astro';

const publication = 'D2'
---

<Layout title={publication}>
  <Header theme="d2" />
  <h1>{publication}</h1>
</Layout>
