---
import Layout from '../templates/Layout.astro';
import Header from '../organisms/Header.astro';
import Story from '../organisms/Story.astro';
import StoryHeader from '../molecules/StoryHeader.astro';
import Grid from '../atoms/Grid.astro';
import Article from '../content/dn/dn.mdx';

const publication = 'DN';

import '../styles/dn-tokens.css';
---

<Layout title={`Ny konkursbølge under oppseiling: – Nå blir det verre | ${publication}`} publication={publication}>
  <Header theme="dn" />
  <main>
    <Story>
      <!-- <StoryHeader /> -->
      <Grid>
        <Article />
      </Grid>
    </Story>
  </main>
</Layout>
