---
import Layout from '../templates/Layout.astro';

import Header from '../organisms/Header.astro';

const publication = 'Fiskeribladet'
---

<Layout title={publication}>
  <Header theme="fiskeribladet" />
  <h1>{publication}</h1>
</Layout>
