---
import Layout from '../templates/Layout.astro';

import Header from '../organisms/Header.astro';

const publication = 'Hydrogen Insight'
---

<Layout title={publication}>
  <Header theme="hydrogen-insight" />
  <h1>{publication}</h1>
</Layout>
