---
import Layout from '../templates/Layout.astro';

// data imports
import navData from '../data/navData';
---

<Layout title="Publikasjoner">
  <nav>
    <ul role='list'>
    {
      navData.map(item => (
        <li>
          <a href={item.path}>{item.publication}</a>
        </li>
      ))
    }
    </ul>
  </nav>
</Layout>

<style>
  nav {
    padding: 2rem;
  }
  ul[role='list'] {
    list-style-type: none;
    padding-inline-start: 0;
  }

  ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }

  li {
    border: 1px solid hsl(0 0% 50%);
    border-radius: 0.5rem;
  }

  li:hover {
    background-color: hsl(0 0% 95%);
  }

  a {
    display: flex;
    padding: 2rem;
  }
</style>
