---
// component imports
import Layout from "../templates/Layout.astro";

// data imports
import navData from "../data/navData";
---

<Layout title="Publikasjoner">
  <div>
    <h2>Velg publikasjon</h2>
    <nav>
      <ul role="list">
        {
          navData.map((item) => (
            <div>
              <li>
                <a href={item.path}>
                  <h4> {item.publication}</h4>
                </a>
              </li>
            </div>
          ))
        }
      </ul>
    </nav>
  </div>
</Layout>

<style>
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fafafa;
    padding: 2rem;
  }

  h2 {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  nav {
    width: 100%;
  }
  ul[role="list"] {
    list-style-type: none;
    padding-inline-start: 0;
  }

  ul {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  }

  li {
    border-radius: 5px;
    background-color: #2d2d2d;
    transition: all 0.5s ease;
    padding: 1rem;
  }

  img {
    border-radius: 5px;
  }

  li:hover {
    background-color: hsl(0 0% 50% / 1);
  }

  a {
    display: flex;
    padding: 0.4rem;
    color: white !important;
  }
</style>
