---
// component imports
import Layout from "../templates/Layout.astro";

// data imports
import navData from "../data/navData";
---

<Layout title="Publikasjoner">
  <nav>
    <ul role="list">
      {
        navData.map((item) => (
          <div>
            <li>
              <a href={item.path}>
                <img src={item.background} />
              </a>
            </li>
            {item.publication}
          </div>
        ))
      }
    </ul>
  </nav>
</Layout>

<style>
  nav {
    padding: 2rem;
  }
  ul[role="list"] {
    list-style-type: none;
    padding-inline-start: 0;
  }

  ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  }

  div {
  }

  li {
    border-radius: 5px;
    background-color: hsl(0 0% 50% / 0.5);
    transition: all 0.5s ease;
  }

  img {
    border-radius: 5px;
  }

  li:hover {
    background-color: hsl(0 0% 50% / 1);
  }

  a {
    display: flex;
    padding: 0.4rem;
  }
</style>
