---
import Layout from '../templates/Layout.astro';
import Header from '../organisms/Header.astro';
import Story from '../organisms/Story.astro';
import Footer from '../organisms/Footer.astro';
import StoryHeader from '../molecules/StoryHeader.astro';
import StoryContent from '../molecules/StoryContent.astro';
---

<Layout title="Regjeringen og partene i arbeidslivet er enige om at utbygging av mer kraft er løsningen på strømkrisen | DN">
  <Header />
  <main>
    <Story>
      <StoryHeader />
      <StoryContent />
    </Story>
  </main>
  <Footer />
</Layout>