---
import Layout from '../templates/Layout.astro';
import Header from '../organisms/Header.astro';
import Story from '../organisms/Story.astro';
import Footer from '../organisms/Footer.astro';
import StoryHeader from '../molecules/StoryHeader.astro';
import StoryContent from '../molecules/StoryContent.astro';
---

<Layout title="Ny konkursbølge under oppseiling: – Nå blir det verre | DN">
  <Header />
  <main>
    <Story>
      <StoryHeader />
      <StoryContent />
    </Story>
  </main>
  <Footer />
</Layout>
