---
import Layout from '../templates/Layout.astro';

import Header from '../organisms/Header.astro';

const publication = 'IntraFish (no)'
---

<Layout title={publication}>
  <Header theme="intrafish" />
  <h1>{publication}</h1>
</Layout>
