---
import Layout from '../templates/Layout.astro';

import Header from '../organisms/Header.astro';

const publication = 'Recharge'
---

<Layout title={publication}>
  <Header theme="recharge" />
  <h1>{publication}</h1>
</Layout>
