---
import Layout from '../templates/Layout.astro';
---

<Layout title="White Label" language="en">
  <main>
    <h1>White Label page</h1>
    <a href="/">&larr; Back to index</a>
  </main>
</Layout>

<style>
  main {
    inline-size: min(40rem, 100vw - 2rem);
    margin-inline: auto;
    padding-block: 4rem;
  }
</style>
