<div class="grid">
  <slot />
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    inline-size: min(var(--page-width), 100vw - calc(var(--site-padding) * 2));
    margin-inline: auto;
    padding-block: var(--row-gap);
    padding-inline: 0;
    column-gap: var(--row-gap);
  }

  .grid :global(.teaser:nth-child(1)) {
    grid-column: span 12;
    @media only screen and (min-width: 768px) {
      grid-column: span 6;
    }
  }
</style>
