---
export interface Props {
  text: string;
  href: string;
  classes?: string;
}

const { text, href, classes } = Astro.props;
---

<a href={href} class:list={[classes]}>{text}<slot/></a>

<style>
  a {
    font-family:var(--typography-ui-font-family), sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-underline-offset: .4rem;
    color: var(--color-link);
  }

  .tag {
    /* border: 1px solid currentColor; */
    border: 1px solid #d8d8d8;
    border-radius:  var(--radius);
    display: inline-flex;
    font-size: 0.75rem;
    inline-size: max-content;
    letter-spacing: 0.04em;
    line-height: 1;
    padding-block: 9px 10px;
    padding-inline: 20px;
    transition: background-color 200ms ease-in-out;
    text-decoration: none !important;

    &:focus-visible,
    &:hover {
      background-color: #f6f7f9;
    }
  }

    .button {
    /* border: 1px solid currentColor; */
    border: 1px solid var(--color-primary);
    border-radius: var(--radius);
    background-color: var(--color-primary) !important ;
    display: inline-flex;
    font-size: 0.75rem;
    inline-size: max-content;
    letter-spacing: 0.04em;
    line-height: 1;
    padding-block: 9px 10px;
    padding-inline: 20px;
    transition: background-color 200ms ease-in-out;
    text-decoration: none !important;
    color: var(--color-brand-utility-50) !important;

    &:focus-visible,
    &:hover {
      background-color: #f6f7f9;
    }

  }
</style>
