---
export interface Props {
  text?: string;
  href: string;
  classes?: string;
}

const { text, href, classes } = Astro.props as Props;
---

<a href={href} class:list={[classes]}>{text}<slot /></a>

<style>
  a {
    font-family: var(--font-family-utility), sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-underline-offset: 0.4rem;
    color: var(--color-link);
  }

  .tag {
    /* border: 1px solid currentColor; */
    border: 1px solid var(--color-brand-utility-100);
    border-radius: var(--radius);
    display: inline-flex;
    font-size: 0.75rem;
    inline-size: max-content;
    letter-spacing: 0.04em;
    line-height: 1;
    padding-block: 9px 10px;
    padding-inline: 20px;
    transition: background-color 200ms ease-in-out;
    text-decoration: none !important;
    background-color: var(--color-brand-utility-0);
    color: var(--color-brand-utility-900) !important;

    &:focus-visible,
    &:hover {
      background-color: var(--color-brand-utility-100);
    }
  }

  .button {
    /* border: 1px solid currentColor; */
    border: 1px solid var(--color-brand-utility-200);
    background-color: var(--color-brand-utility-700);
    color: var(--color-brand-utility-100) !important;
    border-radius: var(--radius);
    display: inline-flex;
    font-size: 0.75rem;
    inline-size: max-content;
    letter-spacing: 0.04em;
    line-height: 1;
    padding-block: 9px 10px;
    padding-inline: 20px;
    transition: background-color 200ms ease-in-out;
    text-decoration: none !important;

    &:focus-visible,
    &:hover {
      background-color: var(--color-brand-utility-600) !important;
    }
  }
</style>
