---
export interface Props {
  text: string;
  href: string;
  classes?: string;
}

const { text, href, classes } = Astro.props;
---

<a href={href} class:list={[classes]}>{text}</a>

<style>
  a {
    color: #13264a;
    text-decoration: none;
  }

  .tag {
    border: 1px solid #d8d8d8;
    border-radius: 99em;
    display: inline-flex;
    font-family: 'Book21', sans-serif;
    font-size: 0.75rem;
    inline-size: max-content;
    letter-spacing: 0.04em;
    line-height: 1;
    padding-block: 9px;
    padding-inline: 20px;
    transition: background-color 200ms ease-in-out;

    &:focus-visible,
    &:hover {
      background-color: #f6f7f9;
    }
  }
</style>