<div class="grid">
  <slot/>
</div>

<style>
  .grid {
    display: grid;
    inline-size: min(var(--grid-width), 100vw - calc(var(--site-padding) * 2));
    margin-inline: auto;
    padding-block: var(--row-gap);
    padding-inline: 0;
    grid-template-columns: repeat 12, 1fr);
    column-gap: var(--row-gap);
    row-gap: var(--row-gap)
  }

</style>
