@layer reset, base, utilities;

/* This is just a reset for testing purposes */
/* @import url("../../node_modules/the-new-css-reset/css/reset.css") layer(reset); */

/*
  TODO: Move to components?
*/
@layer base {
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    /* --_surface-background: var(--background-color);
    --_surface-text-color: var(--typography-color);
    --_font-family-body: var(--font-body, monospace);
    --_line-height: var(--line-height);

    background-color: var(--_surface-background);
    color: var(--_surface-text-color);
    font-family: var(--_font-family-body);
    line-height: var(--_line-height); */
  }

  a {
    --_dnmg-link-text-color: var(--link);
    color: var(--_dnmg-link-text-color);
    text-decoration: underline;
  }
}

@layer utilities {
  .flow > * + * {
    margin-block-start: 1em;
  }
}
