/*
  1. Choices (Globals) - raw values
*/

:root {
  color-scheme: dark;

  --link: hsl(73 93% 85%); // Link
  --link-hover: hsl(76 98% 77%); // Link:hover
  --link-active: hsl(76 85% 86% / 0.7); // Link:active
}
