@layer reset, base;

/* This is just a reset for testing purposes */
@import url("../../node_modules/the-new-css-reset/css/reset.css") layer(reset);

/*
  TODO: Move to components?
*/
@layer base {
  body {
    --_surface-background: var(--background-color);
    --_surface-text-color: var(--typography-color);
    --_font-family-body: var(--font-body);
    --_line-height: var(--line-height);

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    background-color: var(--_surface-background);
    color: var(--_surface-text-color);
    font-family: var(--_font-family-body);
    /* font-size: 1rem; */
    line-height: var(--_line-height);
  }
}
