/* Raw values / Core level */
:root {
  /* color-scheme: light; */

  --neutral-0: hsl(0 0% 0%);
  --neutral-100: hsl(0 0% 100%);

  --line-height: 1.5;

  --logo-fill-color: var(--brand-500);
}

/*
  Semantic level

  TODO: Split this into separate files.
*/
:root {
  color-scheme: light;

  --background-color: var(--neutral-100);
  --typography-color: var(--neutral-0);

  --font-body: var(--primary-font);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --background-color: var(--neutral-0);
    --typography-color: var(--neutral-100);
  }
}
