/*
  1. Choices (Globals) - raw values 
*/

:root {
  /* Colors */
  --color-neutral-0: #FFF;
  --color-neutral-50: #F1F2F3;
  --color-neutral-100: #D6D8DB;
  --color-neutral-200: #BBBEC3;
  --color-neutral-300: #A0A5AC;
  --color-neutral-400: #858B94;
  --color-neutral-500: #6B717A;
  --color-neutral-600: #53585F;
  --color-neutral-700: #3C3F44;
  --color-neutral-800: #242629;
  --color-neutral-900: #0C0D0E;
  --color-neutral-1000: #000;

  --color-brand-0: var(--color-neutral-0);
  --color-brand-50: var(--color-neutral-50);
  --color-brand-100: var(--color-neutral-100);
  --color-brand-200: var(--color-neutral-200);
  --color-brand-300: var(--color-neutral-300);
  --color-brand-400: var(--color-neutral-400);
  --color-brand-500: var(--color-neutral-500);
  --color-brand-600: var(--color-neutral-600);
  --color-brand-700: var(--color-neutral-700);
  --color-brand-800: var(--color-neutral-800);
  --color-brand-900: var(--color-neutral-900);
  --color-brand-1000: var(--color-neutral-1000);

  --color-link-hover: hsl(240 41% 10%); /* Link:hover */
  --color-link: hsl(241 42% 50%); /* Link */
  --color-link-active: hsl(241 41% 70%); /* Link:active */
  --color-link-disabled: hsl(218 33% 80%); /* Link:disabled */

  --color-link-inverted: #fff;
  --color-link-inverted: #fff;
  --color-link-inverted: #fff;
  --color-link-inverted:  #fff;

  --color-error: #AF3333; /* Error */
  --color-success: #4A9864; /* Success */
  --color-live: #FFCC33; /* Warning Yellow */
  --color-warning: #DE3956; /* Warning Red */
  --color-breaking: yellow;


  /* Typograhpy */
  --color-type-dark: hsl(216 7% 15%);/* Typography dark */
  --color-type-light: hsl(0 0% 100%);/* Typography light */

  --color-seperator: var(var(--color-neutral-700));

  /* Backgrounds */
  --background-app: var(--color-neutral-0);
  --background-ad: var(--color-neutral-100);
  --background-ad-content: var(--color-neutral-100);
  --background-ui: var(--color-neutral-100);
  --background-header: var(--color-neutral-50);
  --background-footer: var(--color-neutral-900);

  /* Dimensions */
  --row-gap: 24px;
  --column: 24px;
  --font-size-ui: 10px; 
  --font-size-copy: 18px;
  --font-size-h1: 58px;
  --font-size-h2: 55px;
  --font-size-h3: 32px;
  --font-size-h4: 28px;
  --font-size-inngress: 22px;

  /* Shape */
  --border-radius: 3px;
  --border-width: 1px;
}

