---
// library imports
import { Icon } from "astro-icon";

// component imports
import Link from "../atoms/Link.astro";

export interface Props {
  theme: string;
}

const { theme } = Astro.props as Props;
---

<footer theme={theme}>
<div>
    <Link href="/" text="">
      <Icon name={theme} width="100%" />
    </Link>
</div>
</footer>

<style>
  footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--background-footer);
    min-height: 10rem;
  }

  div{
        inline-size: min(var(--page-width), 100vw - calc(var(--site-padding) * 2));

  }

  /* Will be svg in prod, but here it is a helper package for icons */
  [astro-icon] {
    padding-block: 2rem;
  }

  svg{
    width: 100px;
     --color-header-logo-primary: white;
    --color-header-logo-secondary: white;
  }

  div {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @media only screen and (min-width: 768px) {
      align-items: center;
      flex-direction: row;
    }
  }
</style>
