---
// library imports
import { Icon } from "astro-icon";

// component imports
import Link from "../atoms/Link.astro";

export interface Props {
  theme: string;
}

const { theme } = Astro.props as Props;
---

<header class="header">
  <div>
    <Link href="/" text="">
      <Icon name={theme} />
    </Link>
  </div>
</header>

<style>
  header {
    --_header-background-color: var(--header-background-color);

    background-color: var(--_header-background-color);
    /* border-block-end: 1px solid var(--header-separator, #d9dce2); */
  }

  div {
    align-items: center;
    block-size: var(--header-height, 3.5rem);
    display: flex;
    inline-size: min(
      var(--header-width, 1660px),
      100vw - calc(var(--site-padding, 1rem) * 2)
    );
    justify-content: space-between;
    margin-inline: auto;

    @media (--medium) {
      --header-height: 6rem;
      --logo-height: 2rem;
    }
  }

  a {
    color: var(--logo-color, hsl(219 59% 18%));
  }

  svg {
    block-size: var(--logo-height, 1.4688rem);
  }

  /* Demo purposes */
  nav {
    column-gap: 1rem;
    display: flex;
  }
</style>
