---
import { Icon } from 'astro-icon';
---
<header>
  <div>
    <a href="/">
      <Icon name="dn" />
    </a>
    <select>
      <option value="hsl(0 0% 100%)">Hvit</option>
      <option value="#13264a">Blå</option>
      <option value="#EDFEB2">Gul</option>
      <option value="#F9F2EF">Rosa</option>
      <option value="#1A1F27">Svart</option>
    </select>
  </div>
</header>

<style>
  header {
    background-color: var(--bg-header, hsl(0 0% 100%));
    border-block-end: 1px solid var(--separator, #d9dce2);
    
  }
  
  div {
    align-items: center;
    block-size: var(--header-height, 3.5rem);
    display: flex;
    inline-size: min(var(--header-width, 1660px), 100vw - calc(var(--site-padding, 1rem) * 2));
    justify-content: space-between;
    margin-inline: auto;

    @media (--medium) {
      --header-height: 6rem;
      --logo-height: 2rem;
    }
  }

  a {
    color: var(--logo-color, hsl(219 59% 18%));
  }

  svg {
    block-size: var(--logo-height, 1.5625rem);
  }
</style>