---
import { Icon } from "astro-icon";
---

<header>
  <div>
    <a href="/">
      <Icon name="dn" />
    </a>
    <nav>
      <select id="layout">
        <option value="a" selected>A</option>
        <option value="b">B</option>
        <option value="c">C</option>
      </select>
      <select id="size">
        <option value="small">Small</option>
        <option value="medium" selected>Medium</option>
        <option value="large">Large</option>
      </select>
      <select id="theme">
        <option value="light" selected>Light</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
        <option value="pink">Pink</option>
        <option value="dark">Dark</option>
      </select>
      <select id="publication">
        <option value="dn" selected>DN</option>
        <!-- <option value="intrafish">Intrafish</option>
        <option value="fiskeribladet">Fiskeribldet</option>
        <option value="recharge">Recharge</option>
        <option value="upstream">Upstream</option>
        <option value="tradewinds">Tradewinds</option>
        <option value="europower">Europower</option>
        <option value="hydrogen">Hydrogen Insight</option>
        <option value="kystens">Kystens Næringsliv</option> -->
      </select>
    </nav>
  </div>
</header>

<style>
  header {
    background-color: var(--header-bkg, hsl(0 0% 100%));
    border-block-end: 1px solid var(--header-separator, #d9dce2);
  }

  div {
    align-items: center;
    block-size: var(--header-height, 3.5rem);
    display: flex;
    inline-size: min(
      var(--header-width, 1660px),
      100vw - calc(var(--site-padding, 1rem) * 2)
    );
    justify-content: space-between;
    margin-inline: auto;

    @media (--medium) {
      --header-height: 6rem;
      --logo-height: 2rem;
    }
  }

  a {
    color: var(--logo-color, hsl(219 59% 18%));
  }

  svg {
    block-size: var(--logo-height, 1.4688rem);
  }

  /* Demo purposes */
  nav {
    column-gap: 1rem;
    display: flex;
  }

  select {
    border: 1px solid hsl(0 0% 0% / 0.25);
    border-radius: 0.25rem;
    font-family: "Book20", sans-serif;
    font-size: 12px;
    padding: 0.25rem;
  }
</style>
