---
import Header from "../organisms/Header.astro";

import Card from "../molecules/Card.astro";
import Accordion from "../molecules/Accordion.astro";
import Grid from "../atoms/Grid.astro";
import SectionTitle from "../atoms/SectionTitle.astro";
import StreamsGrid from "../atoms/StreamsGrid.astro";
import Footer from "../organisms/Footer.astro";
import Ad980 from "../molecules/Ad980.astro";
import Interaction from "../molecules/Interaction.astro";
import TagGroup from "../molecules/TagGroup.astro";
import TimeStamp from "../molecules/TimeStamp.astro";

import "../styles/main.css";

export interface Props {
  title: string;
  language?: string;
  publication?: string;
  theme: string;
}

const { title, language, publication, theme } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang={language ? language : "nb-NO"}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {
      theme === "dn" && (
        <>
          <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap"
            rel="stylesheet"
          />
          <link
            rel="stylesheet"
            href="https://static1.dn.no/dn/static/assets/css/nhstfonts.css"
          />
        </>
      )
    }

    {
      theme !== "dn" && (
        <link
          href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Inter:wght@400;700;800&display=swap"
          rel="stylesheet"
        />
      )
    }
    <link rel="icon" href="/favicon.ico" sizes="any" /><!-- 32×32 -->
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest" />

    <link
      rel="stylesheet"
      href={`https://dngroup.blob.core.windows.net/design-tokens/${theme}.css`}
      id="stylesheet"
    />
  </head>
  <body>
    <Header theme={theme} />
    <main>
      <slot />

      <Grid>
        <Interaction />
        <TagGroup />
        <TimeStamp />
      </Grid>
      <Ad980 />
      <SectionTitle>
        <h3>Les også:</h3>
      </SectionTitle>

      <StreamsGrid>
        <Card
          title="Vellykket SpaceX-oppskyting – disse fire skal tilbringe seks måneder i bane rundt jorden"
          img="../img/musk.jpg"
          classes="teaser inverted"
          align="center"
        />
        <Card
          title="Hangarskipet speiler en ny sikkerhetspolitisk situasjon i nord"
          img="../img/skip.jpg"
          category="Shipping"
          classes="teaser  opinion"
        />
        <Card
          title="Nedgang på Oslo Børs før kveldens rentebeskjed fra USA"
          img="../img/stocks.jpg"
          classes="teaser"
        />
        <Card
          title="Oljeindustrien satser: Store investeringer til tross for svak etterspørselsvekst"
          img="../img/oil.jpg"
          classes="teaser standard"
        />
        <Card
          title="Svak økonomisk utvikling i Kina: Sentralbanken kutter renten – millionærflukt akselererer"
          img="../img/corporate.jpg"
          classes="teaser standard"
        />

        <Card
          title="Derfor boikotter de Schjødt: «Ikke forenlig med Blystad-gruppens verdier»"
          img="../img/finans.jpg"
          classes="teaser standard"
        />

        <Card
          title="Svak økonomisk utvikling i Kina: Sentralbanken kutter renten – millionærflukt akselererer"
          img="../img/corporate.jpg"
          classes="teaser standard"
        />

        <Card
          title="Economists prepares for the worst"
          img="../img/finans.jpg"
          classes="teaser standard"
        />
        <Card
          title="Thomas Wilhelmsen slår tilbake: «Aggressivitet» og «grove beskyldninger»"
          img="../img/dude.jpg"
          category="Energy"
          classes="teaser standard"
        />
      </StreamsGrid>
      <Ad980 />
      <StreamsGrid>
        <Card
          title="Vellykket SpaceX-oppskyting – disse fire skal tilbringe seks måneder i bane rundt jorden"
          img="../img/musk.jpg"
          classes="teaser standard"
        />
        <Card
          title="Hangarskipet speiler en ny sikkerhetspolitisk situasjon i nord"
          img="../img/skip.jpg"
          category="Shipping"
          classes="teaser standard"
        />
        <Card
          title="Nedgang på Oslo Børs før kveldens rentebeskjed fra USA"
          img="../img/stocks.jpg"
          classes="teaser opinion"
        />
        <Card
          title="Oljeindustrien satser: Store investeringer til tross for svak etterspørselsvekst"
          img="../img/oil.jpg"
          classes="teaser standard"
        />
        <Card
          title="Svak økonomisk utvikling i Kina: Sentralbanken kutter renten – millionærflukt akselererer"
          img="../img/corporate.jpg"
          classes="teaser standard"
        />

        <Card
          title="Derfor boikotter de Schjødt: «Ikke forenlig med Blystad-gruppens verdier»"
          img="../img/finans.jpg"
          classes="teaser inverted"
        />

        <Card
          title="Svak økonomisk utvikling i Kina: Sentralbanken kutter renten – millionærflukt akselererer"
          img="../img/corporate.jpg"
          classes="teaser standard"
        />

        <Card
          title="Economists prepares for the worst"
          img="../img/finans.jpg"
          classes="teaser standard"
        />
        <Card
          title="Thomas Wilhelmsen slår tilbake: «Aggressivitet» og «grove beskyldninger»"
          img="../img/dude.jpg"
          category="Energy"
          classes="teaser standard"
        />
      </StreamsGrid>

      <Footer theme={theme} />
    </main>
  </body>
</html>
